.status {
  margin-bottom: 36px;
  font-size: 36px;
  color: rgb(84, 84, 84);
  font-weight: bold;
}

.boardRow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

.restartGame {
  button {
    cursor: pointer;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 36px;
    margin-top: 36px;
    font-weight: bold;

    &:focus {
      outline: none;
    }
  }
}
